<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <div id="main-container">
        <div id="location-search-angular">
            <h3>Angular App would be loaded here</h3>
        </div>
        <div id="weather-app-react">
            <h3>React App would be loaded here</h3>
        </div>
    </div>
</body>

</html>